langchain
langgraph
langchain-core
langchain-openai
langchain-community
langchain-experimental
langchain-huggingface
faiss-cpu
openai
python-dotenv
wikipedia
pydantic
beautifulsoup4
requests
streamlit
ipykernel
pypdf